.food-item {
  width: 250px;
  background-color:  #364165;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(26, 25, 25, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-item:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.food-item-image {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}










.food-item-info{
    padding:20px;
}

.food-item-price-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-price-rating p{
    font-size: 2rem;
    font-weight: 500;
}

.food-item-price-rating img{
    width:70px;
}

.food-item-desc{
    color:white;
    font-size: 1.2rem;


}
.food-item-price{
    color:white;
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 10px;
}

.food-item-name{
    font-size: 2rem;
    font-weight: 500;
    color:white;
}

.food-item-image-container{
    position: relative;
}
.food-item-image-container .add{
    position:absolute;
    width:45px;
    bottom:15px;
    right:15px;
    cursor:pointer;
    border-radius: 50%;

}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right:15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    background-color: white;
    border-radius: 50px;
}

.food-item-counter img{
    width: 30px;
}